body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:linear-gradient(135deg,rgba(0, 0, 255, 0.666),rgba(108, 11, 182, 0.605));
  }
  
  .container {
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 8px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    cursor: pointer;
    color: #fff;
    border-radius: 25%;
  }
.cell:hover{
    background-color: rgb(0, 0, 0);
}
  
  .status {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgba(120, 56, 231, 0.918);
}
.reset-btn:hover{
      background-color:rgb(49, 142, 242);
  }